*{
    margin: 0px;
    padding: 0px;
  }
  
  
  .header{
    width: 1300px;
    height: 113px;
    margin: 5px auto;
  }
  .header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .center{
    width: 90% ;
    height: 80px;
    background-color: #EEEEEE;
    margin: 5px auto;
    text-align: center;
  }
  .center #input{
    width: 20%;
  }
  .center_bottom {
    width: 90% ;
    height: 76px;
    margin: 0 auto;
  }
  
  .center_bottom .orta1{
    width: 37%;
    height: 76px;
    text-align: center;
    float: left;
    background-color: #7EE5DA;
  }
  .center_bottom .orta2{
    width: 26%;
    height: 76px;
    text-align: center;
    float: left;
    background-color: #70CCC2;
  }
  .center_bottom .orta3{
    width: 37%;
    height: 76px;
    text-align: center;
    float: left;
    background-color: #62B3AA;
    font-size: small;
  }
  .center_bottom .orta3 .orta4{
      text-align: center;
  }
  .center_bottom .orta3 .orta4 #abc{
    float: right;
    padding-right: 120px;
  }
  
  .footer{
    width: 1340px;
    height: 16px;
    text-align: center;
    margin: 10px auto;
  }